:root {
    --primary-dark-blue: #023047;
    --primary-yellow: #FFB703;
    --primary-green: #606C38;
    --secondary-blue: #219EBC;
    --secondary-orange: #FB8500;
    --secondary-dark-green: #283618;
}
#logo-main {
    max-width: 15rem;
}

h1, h2, h3 {
    color: var(--primary-dark-blue);
}

p {
    color: var(--secondary-dark-green);
    font-size: 1rem;
    line-height: 1.6;
}

.white-space{
    max-width: 98%;
    margin: 0 auto;
}

body {
    margin: 0 auto;
}

/* main *:not(.hero){
    max-width: 98%;
} */

img{
    max-width: 100%;
}

/* CLASSES */
.hero {
    position: relative;
    display: flex;
    justify-content: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay background */
    color: white;
    padding: 1.5rem;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hero article {
    position: absolute;
    top: 15%;
    right: 5%;
    background-color: rgba(255, 183, 3, 0.8); /* Yellow with some transparency */
    padding: 1rem;
    color: var(--primary-dark-blue);
    max-width: 90%;
}

.hero article img {
    float: right;
    margin-left: 1rem;
    width: 20em;
    border-radius: 4px;
}

.gallery-image{
    display: block;
    margin: 10px;
}
.social-links {
    margin: 10px;
}
.social-links a {
    text-decoration: none;
}
.social-links img {
    max-width: 40px;
}

