:root {
    --primary-dark-blue: #023047;
    --primary-yellow: #FFB703;
    --primary-green: #606C38;
    --secondary-blue: #219EBC;
    --secondary-orange: #FB8500;
    --secondary-dark-green: #283618;
}
#logo-main {
    max-width: 20rem;
}

h1, h2, h3 {
    color: var(--primary-dark-blue);
}

p {
    color: var(--secondary-dark-green);
    font-size: 1rem;
    line-height: 1.6;
}
body {
    max-width: 98%;
    margin: 0 auto;
    /* background-color: var(--primary-green); */
}

img{
    max-width: 100%;
}

/* CLASSES */
.hero {
    position: relative;
    text-align: center;
}

.hero img {
    display: block;
    max-width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-yellow);
}

.hero article {
    position: absolute;
    bottom: 10%;
    right: 5%;
    background-color: rgba(255, 183, 3, 0.8); /* Yellow with some transparency */
    padding: 1rem;
    color: var(--primary-dark-blue);
}

.hero article img {
    float: right;
    margin-left: 1rem;
}

.social-links a {
    text-decoration: none;
}

