/* Root Variables */
:root {
    --primary-dark-blue: #023047;
    --primary-yellow: #FFB703;
    --primary-green: #606C38;
    --secondary-blue: #219EBC;
    --secondary-orange: #FB8500;
    --secondary-dark-green: #283618;
    --overlay-bg: rgba(0, 0, 0, 0.7);

    --gradient-blue: linear-gradient(to bottom, #219EBC, #023047); /* Light blue to dark blue (top to bottom) */
    --gradient-green: linear-gradient(to bottom, #606C38, #283618); /* Light green to dark green (top to bottom) */
    --gradient-blue-reverse: linear-gradient(to bottom, #023047, #219EBC); /* Dark blue to light blue (top to bottom) */
    --gradient-green-reverse: linear-gradient(to bottom, #283618, #606C38); /* Dark green to light green (top to bottom) */
    
    /* Gradients with transparency */
    --gradient-overlay-blue: linear-gradient(to bottom, rgba(2, 48, 71, 0.6), rgba(2, 48, 71, 1)); /* Blue with transparency gradient (top to bottom) */
    --gradient-overlay-dark: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(2, 48, 71, 1)); /* Black to blue with transparency (top to bottom) */
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 17px;
}

/* Header */
header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    /* padding: 1rem 0; */
}

.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.3);  */
}

.main-nav a {
    text-decoration: none;
    /* color: var(--primary-dark-blue); */
    color: black;
    font-size: 1.25em;
    font-weight: 900; 
}

.main-nav a:hover {
    text-decoration: underline;

}

/* Logo Styling */
#logo-main {
    max-width: 15em;
    padding: 10px;
    background-color: white;
}

.cta-button {
    padding: 0.8rem 1.2rem;
    /* border-radius: 15px; */
    background-color: var(--primary-yellow);
    color: black;
    border-radius: 4px;
}

.cta-button:hover {
    background-color: var(--primary-dark-blue);
    color: white
}

/* Hero Section */
.hero {
    /* position: relative; */
    width: 100%;
    height: 1100px;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    bottom: 2em;
    width: 100%;
    background-color: var(--overlay-bg);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    padding: 2rem;
    /* border-bottom: solid 1px white; */
}

.hero-overlay h1 {
    font-size: 2.5rem;
    color: var(--primary-yellow);
    margin: 1rem 0;
}

.hero-overlay p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    max-width: 75%;
}


.hero-cta-button {
    padding: 1.25em;
    background-color: var(--primary-yellow);
    color: black;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
    transform: translateY(50%);
    position: absolute;
    top: 8.5em;
}

.hero-cta-button:hover {
    background-color: var(--primary-green);
    color: white;
    text-decoration: underline;
}

/* Info Section */
.info-section {
    padding: 5rem 2rem 2rem;
    background: var(--gradient-blue);
    text-align: center;
    padding-bottom: 4em;
}

.info-section h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 3rem;
    font-family: 'Oswald', sans-serif;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    margin: 0 auto;
}

.info-card {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    width: 375px;
    text-align: center;
    transition: transform 0.3s ease;
}

.info-card:hover {
    transform: translateY(-8px);
}

.info-icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: var(--primary-yellow);
    /* filter: brightness(0) invert(1);  */
    border-radius: 10px;
}

.info-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary-dark-blue);
    font-family: 'Oswald', sans-serif;
}

.info-card p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--secondary-dark-green);
    margin-bottom: 1rem;
}

.info-card p:first-of-type {
    font-weight: bold;
}

.info-button {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: var(--primary-dark-blue);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
}

.info-button:hover {
    background-color: var(--primary-green);
    color: white;
    text-decoration: underline;
}

/* BLOG Highlight Section */
.blog-highlight {
    position: relative;
    background-image: url('../images/happy_woman.jpg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    padding: 4rem 1rem;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px; /* Adjust height as needed */
}

.blog-overlay {
    background: var(--overlay-bg);
    padding: 3rem;
    border-radius: 8px;
    /* width: 90%; */
    /* max-width: 800px; */
}

.blog-highlight h2 {
    font-size: 1.75rem;
    color: var(--primary-yellow);
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
    text-transform: capitalize;
}

.blog-highlight h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.blog-highlight p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.blog-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: white;
    color: var(--primary-dark-blue);
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.blog-button:hover {
    background-color: var(--primary-yellow);
    color: var(--primary-dark-blue);
}
 

/* Popular Adventures Section */
.popular-adventures {
    text-align: center;
    background-color: var(--primary-dark-blue);
    padding: 3rem 1rem;
}

.popular-adventures h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 0.5rem;
}

.popular-adventures h3 {
    font-size: 1.5rem;
    color: var(--primary-yellow);
    margin-bottom: 2rem;
}

.adventure-cards {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.adventure-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #023047;
    transition: transform 0.3s;
}

.adventure-card:hover {
    transform: translateY(-5px);
}

.adventure-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.adventure-content {
    padding: 2rem;
    text-align: left;
}

.adventure-content h4 {
    font-size: 1.75rem;
    color: black;
    margin: 1.25rem 0;
}

.adventure-content .location {
    font-size: 1rem;
    font-weight: bold;
    background-color:#023047;
    color: white;
    padding: .25em;
    display: block;
    margin: 0.25rem 0;
    text-align: center;
}

.adventure-content p {
    font-size: 0.9rem;
    margin: 0.5rem 0;
    color: black;
}

.price { 
    font-size: 1.25rem;
    color: var(--primary-green); 
    font-weight: bold;
    margin: 1em 0;
}

.learn-more {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--primary-yellow);
    color: black;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
}

.learn-more:hover {
    background-color: var(--primary-green);
    color: white;
    text-decoration: underline;
}

/* ROOTS SECTION */
.roots-section {
    text-align: center;
    background-color: lightgray;
    padding: 3rem 0;
}

.roots-heading {
    background-color: black;
    padding: 2rem 0;
    color: white;
}

.roots-heading h2 {
    font-size: 2rem;
    color: white;
    margin: 0;
}

.roots-heading p {
    font-size: 1.2rem;
    color: white;
    margin-top: 1rem;
}

.roots-image img {
    width: 100%;
    height: auto;
    margin-top: -3rem;
}

.roots-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    padding: 0 10%;
}

.item1 {
    grid-area: 1 / 2 / 2 / 3; /* Center top */
}

.item2 {
    grid-area: 2 / 1 / 3 / 2; /* Left middle */
}

.item3 {
    grid-area: 2 / 2 / 3 / 3; /* Center middle */
}

.item4 {
    grid-area: 2 / 3 / 3 / 4; /* Right middle */
}

.item5 {
    grid-area: 3 / 2 / 4 / 3; /* Center bottom */
}

.root-item {
    background: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.item-number {
    display: inline-block;
    background: var(--primary-dark-blue);
    color: white;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    line-height: 2rem;
    margin-bottom: 1rem;
}