:root {
    --main-bg-color: darkblue;
    --main-text-color: darkblue;
    --link-text-color: white;
    --nav-padding: 10px;
    --link-padding: 20px;
    --img-width: 150px;
    --img-border: 1px solid black;
    --img-padding: 2px;
    --box-shadow: 0 0 30px gray;
    --paragraph-padding: 10px;
} 
/* :root in CSS for defining global variables is to declare variables at the top of the file */
/* The equivelant in SCSS is $ - IE $main-bg-color: darkblue; */

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 98%;  /* content takes up 98% but leaves 2% whitespace on the sides */
}

nav {
    background-color: var(--main-bg-color);
    padding: var(--nav-padding);
}

nav a{
    color: var(--link-text-color);
    display: block;
    padding: var(--link-padding);
}
main {
    max-width: 840px;
}

main image{
    float: right;
}

h1{
    color: var(--main-text-color);
}

img{
    width: var(--img-width);
    height: auto;
    border: var(--img-border);
    padding: var(--img-padding);
    box-shadow: var(--box-shadow);
}

p{
    padding: var(--paragraph-padding);
}

/* Profile image floating to the right */
.profile-img {
    float: right;
    margin-left: 20px;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: var(--box-bg-color);
    color: var(--box-text-color);
}

/* Aside section styling */
aside {
    position: relative;
    width: 20em;
    text-align: center;
}

/* Styling for the image inside the aside */
aside img {
    width: 100%; /*image spans the full width of the aside */
    height: auto;
}

/* Overlay heading on the aside image */
aside h2 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}